* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container-page {
    background-color: rgb(241, 234, 234);
    margin: 20px 40px;
    width: 100%;
    height: 768px;
    max-width: 1800px;
    top: -394.2px;
    left: 11844px;
    overflow: hidden;
    z-index: 1;
}

.container-page .header {
    display: flex;
    position: relative;
    width: 1710px;
    max-width: 1740;
    height: 68px;
    top: 20px;
    left: 55px;
    justify-content: space-between;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;
}

.container-page .header .Main p , .Personal-account p {
    font-weight: 700;
    font-size: 30px;
    line-height: 70%;
    background: linear-gradient(45deg, #ffffff, #a6ff00);
    color: black;
    border: 5px solid #2c3e50 !important;
    padding: 12px;
    border-radius: 50px;
}

.container-page .header .Shopping-cart p , .Repair p {
    font-weight: 620;
    font-size: 26px;
    line-height: 60%;
    background: linear-gradient(45deg, #ffffff, #0099ffd2);
    color: black;
    border: 3px solid #2c3e50 !important;
    padding: 9px;
    border-radius: 10px;
}

.container-page .header .News p, .Prices p {
    font-weight: 700;
    font-size: 24px;
    line-height: 50%;
    color: black;
    background: linear-gradient(75deg, #ffffff, #00ffbf7e);
    border: 4px solid #2c3e50 !important;
    padding: 8px;
    border-radius: 26px;
}

.container-page .header .Online-registration p, .Discounts p {
    font-weight: 700;
    font-size: 22px;
    line-height: 40%;
    color: black;
    background: linear-gradient(90deg, #ffffff, #ffd000);
    border: 2px solid #2c3e50 !important;
    padding: 7px;
    border-radius: 9px;
}

.container-page .header .Reviews p, .Contacts p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30%;
    background: linear-gradient(105deg, #ffffff, #ff6600);
    color: black;
    border: 4px solid #2c3e50 !important;
    padding: 6px;
    border-radius: 26px;
}

.container-page .header .About-us p, .Ours-works p {
    font-weight: 700;
    font-size: 18px;
    line-height: 20%;
    color: black;
    background: linear-gradient(120deg, #ffffff, #ff0000);
    border: 2px solid #2c3e50 !important;
    padding: 6px;
    border-radius: 8px;
}