* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container-page {
    background-color: rgb(241, 234, 234);
    margin: 20px auto;
    width: 100%;
    height: 1768px;
    max-width: 1800px;
    top: -394.2px;
    left: 11844px;
    overflow: hidden;
    z-index: 1;
}

.container-page .header {
    display: flex;
    position: relative;
    width: 1710px;
    max-width: 1740;
    height: 68px;
    top: 20px;
    left: 55px;
    justify-content: space-between;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;
}

.container-page .header .Main p , .Personal-account p {
    font-weight: 700;
    font-size: 30px;
    line-height: 70%;
    background: linear-gradient(45deg, #ffffff, #080808);
    color: black;
    border: 5px solid #2c3e50 !important;
    padding: 12px;
    border-radius: 50px;
}

.container-page .header .Shopping-cart p , .Repair p {
    font-weight: 620;
    font-size: 26px;
    line-height: 60%;
    background: linear-gradient(45deg, #313131, #ffffffd2);
    color: black;
    border: 3px solid #2c3e50 !important;
    padding: 9px;
    border-radius: 10px;
}

.container-page .header .News p, .Prices p {
    font-weight: 700;
    font-size: 24px;
    line-height: 50%;
    color: black;
    background: linear-gradient(75deg, #f7f7f7, #3b3b3b);
    border: 4px solid #2c3e50 !important;
    padding: 8px;
    border-radius: 26px;
}

.container-page .header .Online-registration p, .Discounts p {
    font-weight: 700;
    font-size: 22px;
    line-height: 40%;
    color: black;
    background: linear-gradient(90deg, #494949, #f0f0f0);
    border: 2px solid #2c3e50 !important;
    padding: 7px;
    border-radius: 9px;
}

.container-page .header .Reviews p, .Contacts p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30%;
    background: linear-gradient(105deg, #eeeeee, #444444);
    color: black;
    border: 4px solid #2c3e50 !important;
    padding: 6px;
    border-radius: 26px;
}

.container-page .header .About-us p, .Ours-works p {
    font-weight: 700;
    font-size: 18px;
    line-height: 20%;
    color: black;
    background: linear-gradient(120deg, #535353, rgb(233, 233, 233));
    border: 2px solid #2c3e50 !important;
    padding: 6px;
    border-radius: 8px;
}

.container-page .Name-Site {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
}

.container-page .Name-Site .Napoleon-N {
    font-size: 110px;
    font-weight: 600;
}

.container-page .Name-Site .Napoleon-a {
    font-size: 57px;
    font-weight: 600;
    margin-top: 16px;
}

.container-page .Name-Site .Napoleon-p {
    font-size: 64px;
    font-weight: 600;
    margin-top: 3px;
}

.container-page .Name-Site .Napoleon-1-o {
    font-size: 46px;
    font-weight: 600;
    margin-top: 15px;
}

.container-page .Name-Site .Napoleon-l {
    font-size: 53px;
    font-weight: 600;
    margin-top: 4px;
}

.container-page .Name-Site .Napoleon-e {
    font-size: 39px;
    font-weight: 600;
    margin-top: 13px;
}

.container-page .Name-Site .Napoleon-2-o {
    font-size: 42px;
    font-weight: 600;
    margin-top: 5px;
}

.container-page .Name-Site .Napoleon-n {
    font-size: 31px;
    font-weight: 600;
    margin-top: 12px;
}

.container-page .Name-Site .Napoleon-comma {
    font-size: 44px;
    font-weight: 600;
    margin-top: 7px;
    margin-left: -3px;
    margin-right: -2px;
}

.container-page .Name-Site .Napoleon-s {
    font-size: 31px;
    font-weight: 600;
    margin-top: 12px;
}

.container-page .Name-Site .Car-C {
    font-size: 29px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 12px;
}

.container-page .Name-Site .Car-a {
    font-size: 34px;
    font-weight: 600;
    margin-top: 3.45px;
}

.container-page .Name-Site .Car-r {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10.7px;
}

.container-page .Name-Site .Repair-R {
    margin-left: 15px;
    font-size: 29.1px;
    font-weight: 600;
    margin-top: 11px;
}

.container-page .Name-Site .Repair-e {
    font-size: 40.5px;
    font-weight: 600;
    margin-top: 2px;
}

.container-page .Name-Site .Repair-p {
    font-size: 36px;
    font-weight: 600;
    margin-top: 11.6px;
}

.container-page .Name-Site .Repair-a {
    font-size: 51.2px;
    font-weight: 600;
    margin-top: 2px;
}

.container-page .Name-Site .Repair-i {
    font-size: 43.5px;
    font-weight: 600;
    margin-top: 10.5px;
}

.container-page .Name-Site .Repair-r {
    font-size: 58px;
    font-weight: 600;
    margin-top: 1.2px;
}

.container-page .Name-Site .Shop-S {
    font-size: 64px;
    font-weight: 600;
    margin-left: 15px;
}

.container-page .Name-Site .Shop-h {
    font-size: 55.5px;
    font-weight: 600;
    margin-top: 12px;
}

.container-page .Name-Site .Shop-o {
    font-size: 78px;
    font-weight: 600;
    margin-top: -1px;
}

.container-page .Name-Site .Shop-p {
    font-size: 70px;
    font-weight: 600;
    margin-top: 14px;
}